{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ imagefile }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ _('Account Info') }}</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
    
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>                        
                        {% endfor %}
                    {% endif %}
                </div>    
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <legend class="border-bottom mb-4">{{ _('Targets') }}</legend>       
        <div class="row justify-content-center">  
            {% if current_user.targets | count > 0 %}
                    {% for target in current_user.targets %}           
                                <a href="{{ url_for('analytics.target', target_id=target.id) }}">
                                <div class="card border-0 mb-0 mr-2" style="width: 10rem;"> 
                                    {% if target.targetimages | count > 0 %} 
                                        <img class="card-img-top" src="{{ url_for('static', filename='images/thumbnails/' + target.targetimages[0].thumbnail) }}">
                                    {% else %}                                                
                                        <img class="card-img-top" src="{{ url_for('static', filename='images/thumbnails/labelthumbnail.jpg') }}">
                                        <div class="card-img-overlay px-2">
                                          <p class="card-subtitle mb-0 text-danger"><small>{{ _('No images defined!') }}</small></p>
                                        </div>

                                    {% endif%}
                                    <div class="card-body px-0 pt-1">
                                            <h6 class="card-title mb-0">{{ target.name}}</h6>
                                            <p class="card-subtitle mb-0 text-muted"><small>{{ target.date_created.strftime('%d-%m-%y') }} {{ target.targetimages | count }} {{ _('image(s)') }}</small></p>                    
                                    </div>
                                </div>
                                </a>
                    {% endfor %}           
            {% else %}    
                    <p class='text-muted'>{{ _('No targets defined') }}      
            {% endif%}  
        </div>			



            <a class="btn btn-secondary btn-sm mt-1 mb-1"  href="{{ url_for('analytics.new_target', user_id=current_user.id) }}">{{ _('New') }}</a>   
    </div>
{% endblock content %}
