{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Items for {{ attribute.attributetextname }} ({{ items.total }})</h1>
    <div class="card-deck">   
    {% for item in items.items %}

                <a href="{{ url_for('items.item', item_id=item.id) }}">
                <div class="card border-0 mb-0" style="width: 10rem;">                                

                  {% if texts[item.id]["foundlabel"] %}
                      <img class="card-img-top" src="{{ url_for('static', filename='images/thumbnails/labelthumbnail.jpg') }}">
                      <div class="card-img-overlay px-2">
                          <p class="card-subtitle mb-0 text-danger"><img class="card-img-top" style="width:15px;height:15px;"  src="{{ url_for('static', filename='images/icons/Label.jpg') }}"><small>{{ texts[item.id]["line4"] }}</small></p>
                      </div>
                  {% else %}
                    <img class="card-img-top" src="{{ url_for('static', filename='images/thumbnails/' + item.thumbnail) }}">
                  {% endif %}
                  <div class="card-body px-0 pt-1">
                    <h6 class="card-title mb-0">{{ item.itemname}}</h6>
                    <p class="card-subtitle mb-0 text-muted"><small>{{ item.owner.username}} {{ item.date_posted.strftime('%d-%m-%y') }}</small></p>                    
                        {% if texts[item.id]["foundkeywords"] %}
                            <p class="card-subtitle mb-0"><img class="card-img-top" style="width:8px;height:8px;"  src="{{ url_for('static', filename='images/icons/Keyword.jpg') }}"><small>{{ texts[item.id]["line1"] }}</small></p>
                        {%endif%}
                        {% if texts[item.id]["foundcelebrities"] and texts[item.id]["foundtargets"] %}
                            <p class="card-subtitle mb-0"><img class="card-img-top" style="width:8px;height:8px;"  src="{{ url_for('static', filename='images/icons/Target.jpg') }}"><img class="card-img-top" style="width:8px;height:8px;"  src="{{ url_for('static', filename='images/icons/VIP.jpg') }}"><small>{{ texts[item.id]["line2"] }}</small></p>
                        {% elif texts[item.id]["foundcelebrities"] %}    
                            <p class="card-subtitle mb-0"><img class="card-img-top" style="width:8px;height:8px;"  src="{{ url_for('static', filename='images/icons/VIP.jpg') }}"><small>{{ texts[item.id]["line2"] }}</small></p>
                        {% elif texts[item.id]["foundtargets"] %}    
                            <p class="card-subtitle mb-0"><img class="card-img-top" style="width:8px;height:8px;"  src="{{ url_for('static', filename='images/icons/Target.jpg') }}"><small>{{ texts[item.id]["line2"] }}</small></p>
                        {%endif%}
                        {% if texts[item.id]["foundtext"] %}
                            <p class="card-subtitle mb-0"><img class="card-img-top" style="width:8px;height:8px;"  src="{{ url_for('static', filename='images/icons/Text.jpg') }}"><small>{{ texts[item.id]["line3"] }}</small></p>
                        {%endif%}
                  </div>
                </div>
                </a>
    {% endfor %}
   </div>
    {% for page_num in items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if items.page == page_num %}      
                <a class="btn btn-info mb-4" href="{{ url_for('analytics.attribute_items', attributetextname=attribute.attributetextname, page=page_num)}}">{{ page_num }}</a>              
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('analytics.attribute_items', attributetextname=attribute.attributetextname, page=page_num)}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}         
{% endblock content %}
