{% extends "layout.html" %}
{% block content %}
     <ul class="list-group">
        {% for attribute in attributes.items %}     
            <a class="list-group-item list-group-item-light"  }}" href="{{ url_for('analytics.attribute_items', attributetextname=attribute.attributetextname) }}">{{ attribute.attributetextname }}  (  {{ _('Found for') }} {{ attribute.countpersons }} {{ _('persons') }} )</a>           
        {% endfor %} 
    </ul>
    {% for page_num in attributes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if attributes.page == page_num %}      
                <a class="btn btn-info mb-4" href="{{ url_for('analytics.attributes', page=page_num)}}">{{ page_num }}</a>              
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('analytics.attributes', page=page_num)}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}        
{% endblock content %}
