{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Items for {{ celebrity.name }} ({{ celebrityitems.total }})</h1>
    {% for itemcelebrity in celebrityitems.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pics/' + itemcelebrity.owner.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('items.item', item_id=itemcelebrity.id) }}">{{ itemcelebrity.itemname}}</a><br>
              <a class="mr-2" href="{{ url_for('items.user_items', username=itemcelebrity.owner.username) }}">{{ itemcelebrity.owner.username}}</a>
              <small class="text-muted">{{ itemcelebrity.date_posted.strftime('%d-%m-%y') }}</small>
            </div>
          </div>
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='images/thumbnails/' + itemcelebrity.thumbnail) }}">
        </article>
    {% endfor %}
    {% for page_num in celebrityitems.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if celebrityitems.page == page_num %}      
                <a class="btn btn-info mb-4" href="{{ url_for('analytics.celebrity_items', aws_id=celebrity.aws_id, page=page_num)}}">{{ page_num }}</a>              
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('analytics.celebrity_items', aws_id=celebrity.aws_id, page=page_num)}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}        
{% endblock content %}
