{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">           
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <legend class="border-bottom mb-4">{{ _('Images for target') }}</legend> 
    {% if target is defined %}
        {% if target.targetimages is defined %}
            {% if target.targetimages | count > 0 %}
                  <div class="col-md-6">            
                    <p class='text-muted'>{{ _('Images') }}
                      <ul class="list-group">
                        {% for targetimage in target.targetimages %}     
                       <!--     <a class="list-group-item list-group-item-action" href="{{ url_for('analytics.update_targetimage', targetimage_id=targetimage.id) }}">{{ targetimage.name }} </a>              -->
                             <a class="list-group-item list-group-item-action" href="{{ url_for('analytics.targetimage', targetimage_id=targetimage.id) }}"><img class="rounded" width="125" height="125" src="{{ url_for('static', filename='images/thumbnails/' + targetimage.thumbnail) }}"> {{ targetimage.name }}</a>
                        {% endfor %} 
                      </ul>
                    </p>
                </div>
            {% else %}    
                <p class='text-muted'>{{ _('No images for this target defined') }}              
            {% endif %} 
        {% endif %} 
        <a class="btn btn-secondary btn-sm mt-1 mb-1"  href="{{ url_for('analytics.new_targetimage', target_id=target.id) }}">{{ _('New') }}</a>   
    {% endif %}      
</div>
{% endblock content %}
