{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">           
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <legend class="border-bottom mb-4">{{ _('Images for target') }}</legend> 
    <div class="row justify-content-center"> 
        {% if target is defined %}
            {% if target.targetimages is defined %}
                {% if target.targetimages | count > 0 %}
                     {% for targetimage in target.targetimages %}
                         <a href="{{ url_for('analytics.targetimage', targetimage_id=targetimage.id) }}">
                         <div class="card border-0 mb-0 mr-2" style="width: 10rem;"> 
                             <img class="card-img-top" src="{{ url_for('static', filename='images/thumbnails/' + targetimage.thumbnail) }}">
                             <div class="card-body px-0 pt-1">
                                 <h6 class="card-title mb-0">{{ targetimage.name }}</h6>
                                 <p class="card-subtitle mb-0 text-muted"><small>{{ target.date_created.strftime('%d-%m-%y') }} {{ target.targetimages | count }} {{ _('image(s)') }}</small></p>                    
                             </div>
                         </div>   
                    {% endfor %}
                {% else %}    
                    <p class='text-muted'>{{ _('No images for this target defined') }}              
                {% endif %} 
            {% endif %} 
              
        {% endif %} 
    </div>   
    <a class="btn btn-secondary btn-sm mt-1 mb-1"  href="{{ url_for('analytics.new_targetimage', target_id=target.id) }}">{{ _('New') }}</a>  
</div>
{% endblock content %}
