{% extends "layout.html" %}
{% block content %}     
    <div class="card-deck">   
    {% for item in items.items %}

                <a href="{{ url_for('items.item', item_id=item.id) }}">
                <div class="card border-0 mb-0" style="width: 10rem;">                                
                  <img class="card-img-top" src="{{ url_for('static', filename='images/thumbnails/' + item.thumbnail) }}">
                  <div class="card-body px-0 pt-1">
                    <h6 class="card-title mb-0">{{ item.itemname}}</h6>
                    <p class="card-subtitle mb-0 text-muted"><small>{{ item.owner.username}} {{ item.date_posted.strftime('%d-%m-%y') }}</small></p>
                        <p class="card-subtitle mb-0"><small>Person, Human, ...</small></p>
                        <p class="card-subtitle mb-0"><img class="card-img-top" style="width:8px;height:8px;"  src="{{ url_for('static', filename='images/icons/Target.jpg') }}"><img class="card-img-top" style="width:8px;height:8px;"  src="{{ url_for('static', filename='images/icons/VIP.jpg') }}"><small>Anna, Kim Kardashian,...</small></p>
                        <p class="card-subtitle mb-0"><img class="card-img-top" style="width:8px;height:8px;"  src="{{ url_for('static', filename='images/icons/Text.jpg') }}"><small>Dieser Text ist auf</small></p>
                  </div>
                </div>
                </a>
    {% endfor %}
   </div>
    {% for page_num in items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if items.page == page_num %}      
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num)}}">{{ page_num }}</a>              
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num)}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}        
{% endblock content %}
