{% extends "layout.html" %}
{% block content %}
    {% for item in items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ item.itemname}}</a>
              <a class="mr-2">{{ item.owner.username}}</a>
              <small class="text-muted">{{ item.date_posted }}</small>
            </div>
          </div>
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='images/thumbnails/' + item.thumbnail) }}">
        </article>
    {% endfor %}
{% endblock content %}
