{% extends "layout.html" %}
{% block content %}
     <ul class="list-group">
        {% for keyword in keywords.items %}     
            <a class="list-group-item list-group-item-light" href="{{ url_for('analytics.keyword_items', keywordtextname=keyword.keywordtextname) }}">{{ keyword.keywordtextname }} ( {{ keyword.countitems }} )</a>           
        {% endfor %} 
    </ul>
    {% for page_num in keywords.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if keywords.page == page_num %}      
                <a class="btn btn-info mb-4" href="{{ url_for('analytics.keywords', page=page_num)}}">{{ page_num }}</a>              
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('analytics.keywords', page=page_num)}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}        
{% endblock content %}
