{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.searchtext.label(class="form-control-label") }}
                {{ form.searchtext(class="form-control-file") }}
                {% if form.searchtext.errors %}
                    {% for error in form.searchtext.errors %}
                        <span class="text-danger">{{ error }}</span></br>                        
                    {% endfor %}
                {% endif %}
            </div> 
            <div class="form-group">
                {{ form.search_keywords.label(class="form-control-label") }}
                {{ form.search_keywords(class="form-control-file") }}
                {% if form.search_keywords.errors %}
                    {% for error in form.search_keywords.errors %}
                        <span class="text-danger">{{ error }}</span></br>                        
                    {% endfor %}
                {% endif %}
            </div>    
            <div class="form-group">
                {{ form.search_attributes.label() }}
                {{ form.search_attributes(class="form-control-file") }}
                {% if form.search_attributes.errors %}
                    {% for error in form.search_attributes.errors %}
                        <span class="text-danger">{{ error }}</span></br>                        
                    {% endfor %}
                {% endif %}
            </div>    
            <div class="form-group">
                {{ form.search_celebs.label() }}
                {{ form.search_celebs(class="form-control-file") }}
                {% if form.search_celebs.errors %}
                    {% for error in form.search_celebs.errors %}
                        <span class="text-danger">{{ error }}</span></br>                        
                    {% endfor %}
                {% endif %}
            </div>    
            <div class="form-group">
                {{ form.search_text.label() }}
                {{ form.search_text(class="form-control-file") }}
                {% if form.search_text.errors %}
                    {% for error in form.search_keywords.errors %}
                        <span class="text-danger">{{ error }}</span></br>                        
                    {% endfor %}
                {% endif %}
            </div>    
            <div class="form-group">
                {{ form.search_age.label() }}
                {{ form.search_age(class="form-control-file") }}
                {% if form.search_age.errors %}
                    {% for error in form.search_age.errors %}
                        <span class="text-danger">{{ error }}</span></br>                        
                    {% endfor %}
                {% endif %}
            </div>    
            <div class="form-group">
                {{ form.search_targets.label() }}
                {{ form.search_targets }}
                
                {% if form.search_targets.errors %}
                    {% for error in form.search_targets.errors %}
                        <span class="text-danger">{{ error }}</span></br>                        
                    {% endfor %}
                {% endif %}
            </div>                                                       
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info", value="ttT") }}
        </div>
        <h1 class="mb-3">{{ _('Results') }} ({{ itemresults.total }})</h1>
    {% for item in itemresults.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pics/' + item.owner.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('items.item', item_id=item.id) }}">{{ item.itemname}}</a><br>
              <a class="mr-2" href="{{ url_for('items.user_items', username=item.owner.username) }}">{{ item.owner.username}}</a>
              <small class="text-muted">{{ item.date_posted.strftime('%d-%m-%y') }}</small>
            </div>
          </div>
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='images/thumbnails/' + item.thumbnail) }}">
        </article>
    {% endfor %}
    {% for page_num in itemresults.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if itemresults.page == page_num %}   
                {{ form.submit(class="btn btn-info mb-4", value=page_num,  page=page_num) }}          
            {% else %}
                {{ form.submit(class="btn btn-outline-info mb-4", value=page_num,  page=page_num) }}
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}  
    </form>
</div>

{% endblock content %}
